# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| RStudio |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [16]:
min=200
h=min/60 #This will convert 200 minutes to hours by diving by 60
print(h,"h")

3.3333333333333335 h

**Objectives:**
* Python
* R
* Jupyter Notebook
* RStudio

## Author
Thet Myat Noe Oo